on:
  push
env:
  DOTNET_NOLOGO: true
permissions:
  contents: read
jobs:
  run:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
      - run: dotnet run --project MSK